  /* Search Bar */
  .search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-bar button {
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .search-bar button:hover {
    background-color: #006666;
  }