/* Playlist */
.playlist {
    background-color: #2e2e2e; /* Dark grey background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #f4f4f4; /* Light text color */
    margin-bottom: 20px;
  }
  
  .playlist h2 {
    color: teal;
  }
  
  .playlist input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .playlist .track-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Save Playlist Button */
  .playlist button {
    background-color: teal;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .playlist button:hover {
    background-color: #006666;
  }